<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.ksu.wildcat.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="edu.ksu.wildcat.Perspective"
            id="edu.ksu.wildcat.perspective">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.editors">
   	  <editor
   	  		id="edu.ksu.wildcat.ide.ui.WildcatEditor"
   	  		class="edu.ksu.wildcat.ide.ui.WildcatEditor"
   	  		extensions="in"
   	  		name="Wildcat Editor">
   	  </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
			defaultHandler="edu.ksu.wildcat.handlers.menu.file.NewFile"
			description="Create a new File"
			id="edu.ksu.wildcat.commands.NewFile"
			name="New File">
      </command>
      <command
	      	defaultHandler="edu.ksu.wildcat.handlers.menu.file.OpenFile"
	      	description="Opens file dialog to open file"
	      	id="edu.ksu.wildcat.commands.OpenFile"
	      	name="Open File">
      </command>
      <command
	      	defaultHandler="edu.ksu.wildcat.handlers.menu.file.Save"
	      	description="Saves the active file"
	      	id="edu.ksu.wildcat.commands.Save"
	      	name="Save">
      </command>
      <command
	      	defaultHandler="edu.ksu.wildcat.handlers.menu.file.SaveAs"
	      	description="Opens file dialog to save file"
	      	id="edu.ksu.wildcat.commands.SaveAs"
	      	name="Save As">
      </command>
      <command
	      	defaultHandler="edu.ksu.wildcat.handlers.menu.file.SaveAll"
	      	description="Saves all the active files"
	      	id="edu.ksu.wildcat.commands.SaveAll"
	      	name="Save All">
      </command>
      <command
	      	defaultHandler="edu.ksu.wildcat.handlers.menu.dakota.Run"
	      	description="Generates output"
	      	id="edu.ksu.wildcat.commands.Run"
	      	name="Run Input">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Menu">
            <command
                  commandId="edu.ksu.wildcat.commands.NewFile"
                  icon="icons/new_file.png"
                  label="New File">
            </command>
            <command
                  commandId="edu.ksu.wildcat.commands.OpenFile"
                  icon="icons/folder.png"
                  label="Open File">
            </command>
            <separator
                  name="edu.ksu.wildcat.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="edu.ksu.wildcat.commands.Save"
                  icon="icons/save.png"
                  label="Save">
            </command>
            <command
                  commandId="edu.ksu.wildcat.commands.SaveAs"
                  label="Save As...">
            </command>
            <command
                  commandId="edu.ksu.wildcat.commands.SaveAll"
                  label="Save All">
            </command>
            <separator
                  name="edu.ksu.wildcat.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="edu.ksu.wildcat.commands.Run"
                  icon="icons/run.png"
                  label="Run">
            </command>
            <separator
                  name="edu.ksu.wildcat.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit.png"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
